---
name: Release

on:
  push:
    branches:
      - main
      - release-*

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: "${{ startsWith(github.event.head_commit.message, 'release: ') }}"
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe
        with:
          go-version: stable

      - name: Build tools
        run: |
          make version

      - name: tag and release
        env:
          RELEASE_DRY_RUN: "false"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "$(git log -1 --format=format:%aN)"
          git config user.email "$(git log -1 --format=format:%aE)"
          bin/gotagger -push
